// bower:scss
// endbower

$white: #ffffff;
$dark-grey: #333332;
$base-grey: #948784;
$light-grey: #cccccc;
$lighter-grey: #e5e5e5;
$ultra-light-grey: #f4f4f4;
$dark-green: #4d8f5e;
$base-green: #61b376;
$dark-red: #c25038;
$base-red: #f25433;
$presentation-gradient: linear-gradient(to bottom, $lighter-grey 0%, $white 100%);

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide-add,
.ng-hide-remove {
    display: block !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
    color: $dark-grey;
    background-color: $ultra-light-grey;
    background: -webkit-linear-gradient(top,$ultra-light-grey 0, $white 300px);
    background: linear-gradient(to bottom,$ultra-light-grey 0, $white 300px);
    background-position: 0px 63px;
    background-attachment: fixed;
}

div[ng-view] {
    width: 100%;
    height: 100%;

    &.ng-enter,
    &.ng-leave {
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}

.backward div[ng-view].ng-enter main{
    -webkit-animation: fadeInDown 0.4s;
    animation: fadeInDown 0.4s;
}

.backward div[ng-view].ng-leave main {
    -webkit-animation: fadeOutDown 0.4s;
    animation: fadeOutDown 0.4s;
}

.forward div[ng-view].ng-enter main{
    -webkit-animation: fadeInUp 0.4s;
    animation: fadeInUp 0.4s;
}

.forward div[ng-view].ng-leave main {
    -webkit-animation: fadeOutUp 0.4s;
    animation: fadeOutUp 0.4s;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 0px;
    height: 62px;
    background-color: $white;
    border-bottom: 1px solid $lighter-grey;
    z-index: 999;
}

h1 {
    margin-top: 0px;
    padding: 13px;
    font-size: 1.7em;
    color: $base-red;
    line-height: 1.5em;
}

h2 {
    font-size: 1.3em;
    margin: 50px 0px 0px 0px;
    font-weight: normal;
}

strong {
    font-weight: 600;
}

main {
    margin-top: 63px;
    padding: 30px 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right:auto;
    width: 910px;
}

label {
    margin: 20px;
    display: inline-block
}

button,
.btn {
    height: 42px;
    color: $white;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    padding: 10px;
    margin: 9px 10px;
    display: inline-block;
    background: $base-grey;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    height: 18px;
}

button.add {
    float: right;
    box-shadow: 0 2px 0 $dark-green;
    background-color: $base-green;
}

.create-presentation {
    border-top: 1px solid $lighter-grey;
    background-color: $white;
    border-radius: 3px;
    padding: 15px;
    position: absolute;
    top: 75px;
    right: 20px;

    input {
        border: 1px solid $lighter-grey;
        font-size: 15px;
        height: 22px;
        padding: 9px;
    }

    button {
        margin: 0px;
    }
    
    &:before {
        content: "";
        background-color: $white;
        display: block;
        position: absolute;
        top: -6px;
        right: 12px;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    &:after {
        content: "";
        position: fixed;
        top: 63px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
        z-index: -2;
    }
}

.present,
.exit {
    background: transparent;
    color: $base-grey;
    border: 1px solid $base-grey;
    float: right;
}

.back {
    position: fixed;
    bottom: 19px;
    left: 22px;
    text-decoration: none;
    color: $base-grey;

    span {
        display: inline-block;
        vertical-align:top;
        line-height: 26px;
        padding-left: 10px;
        font-size: 14px;
    }

    ng-include{
        display: inline-block;
    }

    svg {
        width: 27px;
        height: 27px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    path {
        fill: $base-grey;
    }
}

ul.presentations,
ul.slides {
    margin: 20px 0px;
    padding: 0px 0px 20px 0px;
    width: 100%;
    list-style:none;

    li {
        position: relative;
        vertical-align: top;
        margin-bottom: 20px;
        min-height: 30px;

        a {
            text-decoration: none;
            color: $dark-grey
        }

        .label {
            text-align: center;
            margin-top: 10px;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
        }

        .delete {
            margin: 0px;
            position: absolute;
            background: none;
            top: -25px;
            right: -25px;
            display: none;
            z-index: 999;
            
            svg {
                width: 30px;
                height: 30px;
                background: $white;
                border-radius: 50%;

                path {
                    fill: $dark-red;
                }
            }
        }

        &:hover .delete {
            display: inline-block;
        }

        .add    {
            position: absolute;
            right: 0px;   
            bottom: 0px;
            margin-right: 0px;
        }
    }
}

ul.presentations li {
    width: 200px;
    display: inline-block;
    margin: 10px 14px 15px 0;
    -webkit-transition: -webkit-transform .08s ease-in;
    -ms-transition: -webkit-transform .08s ease-in;
    transition: -webkit-transform .08s ease-in;

    &:hover {
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

ul.slides {
    width: 400px;
    margin: 50px auto 2px auto;
    li{
        width: 400px;
        margin: 10px 14px 15px 0;
    }
}

.preview {
    width: 200px;
    height: 150px;
    border: 1px solid $light-grey;
    background: $presentation-gradient;
    text-align: center;

    h1 {
        margin: 15px 5px;
        color: $base-grey;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }

    p {
        margin: 15px 5px;
        color: $base-grey;
        font-size: 10px;
    }
}

.delete-confirmation {
    position: absolute;
    width: 180px;
    height: 130px;
    top: 1px;
    left: 1px;
    padding: 10px;
    background-color: $light-grey;
    text-align: center;
    color: $white;

    .confirm,
    .cancel {
        margin: 0px;
        background: none;
        svg {
            width: 40px;
            height: 40px;
        }
    }

    .confirm path {
        fill: $base-green;
    }

    .confirm:hover path {
        fill: $dark-green
    }

    .cancel path {
        fill: $base-red;
    }

    .cancel:hover path {
        fill: $dark-red
    }

    &.ng-hide-remove {
        -webkit-animation: fadeIn 0.7s;
        animation: fadeIn 0.7s;
    }
    &.ng-hide-add {
        -webkit-animation: fadeOut 0.7s;
        animation: fadeOut 0.7s;
    }
}

.slide {
    width: 400px;
    height: 300px;
    border: 1px solid $light-grey;
    background: $presentation-gradient;

    input,
    textarea {
        width: 320px;
        margin: 16px;
        padding: 20px;
        border: 2px dashed $base-grey;
        background-color: transparent;
        color: $base-grey;
        resize: none;
        text-align: center;
    }

    input {
        font-size: 22px;
    }

    textarea {
        height: 120px;
        font-size: 17px;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $light-grey;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $light-grey;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $light-grey;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $light-grey;
    }
}

.view {
    background: $presentation-gradient;
    width: 100%;
    height: 100vh;

    section {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        margin-top: 63px;
    }

    h1 {
        color: $base-grey;
        margin: 10vh 5vw 15vh 5vw;
        height: 10vh;
        font-size: 10vh;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }

    p {
        color: $base-grey;
        margin: 10vh 5vw;
        height: 40vh;
        font-size: 7vh;
        text-align: center;
    }
}

.fade .ng-hide-remove {
    -webkit-animation: fadeIn 1.4s;
    animation: fadeIn 1.4s;
}
.fade .ng-hide-add {
    -webkit-animation: fadeOut 1.4s;
    animation: fadeOut 1.4s;
}
.bounce .ng-hide-remove {
    -webkit-animation: bounceInRight 0.7s;
    animation: bounceOutLeft 0.7s;
}
.bounce .ng-hide-add {
    -webkit-animation: bounceOutLeft 0.7s;
    animation: bounceOutLeft 0.7s;
}
.lightspeed .ng-hide-remove {
    -webkit-animation: lightSpeedIn 0.7s;
    animation: lightSpeedIn 0.7s;
}
.lightspeed .ng-hide-add {
    -webkit-animation: fadeOutLeftBig 0.7s;
    animation: fadeOutLeftBig 0.7s;
}