<header>
    <button ng-click="showCreate = !showCreate" class="add">Add</button>
    <div ng-show="showCreate" class="create-presentation">
        <input type="text" ng-model="presentationNameToAdd" placeholder="Presentation Name"/>
        <button ng-click="createPresentation(presentationNameToAdd)">Create</button> 
        <button ng-click="showCreate = !showCreate">Cancel</button> 
    </div>
    <h1>PresentationPlus</h1>
</header>
<main>
    <h2>My <strong>Presentations</strong></h2>
    <ul class="presentations">
        <li ng-repeat="(presentationIndex,presentation) in presentations track by $index">
            <a href="#/{{presentation.name}}">
                <section class='preview'>
                    <h1>{{presentation.slides[0].title}}</h1>
                    <p>{{presentation.slides[0].text}}</p>
                </section>
                <div class='label'>
                {{presentation.name}}
                </div>
            </a>
            <button ng-click="presentationToDelete = presentation" class="delete" ng-hide="presentationToDelete === presentation"><ng-include src="'images/cross.svg'"></ng-include></button>
            <div class="delete-confirmation" ng-show="presentationToDelete === presentation">
                <p>Are you sure you want to delete this presentation?</p>
                <button ng-click="deletePresentation(presentationIndex)" class="confirm" title="Yes, delete it!"><ng-include src="'images/confirm.svg'"></ng-include></button>
                <button ng-click="presentationToDelete = null" class="cancel" title="No, please keep it!"><ng-include src="'images/cancel.svg'"></ng-include></button>
            </div>
        </li>  
    </ul>

    <p ng-show="presentations.length === 0">
        You have no presentations yet. Click 'Add' to create one.       
    </p>
</main>