<div ng-switch="fullScreenState">
    <div class="edit" ng-switch-default>
        <header>
            <a href="" ng-click="toggleFullScreen()" class="btn present">Present</a>
            <a href="#/" class="back"><ng-include src="'images/arrow.svg'"></ng-include><span>Back</span></a>
            <h1>{{currentPresentation}}</h1>
        </header>
        <main>
            <ul class="slides">
                <li ng-repeat="(slideIndex,slide) in slides track by $index">
                    <section class='slide'>
                        <input type="text" ng-model="slide.title" ng-change="saveSlide(slideIndex, slide)" placeholder="Click to edit title"/>
                        <textarea ng-model="slide.text" ng-change="saveSlide(slideIndex, slide)" placeholder="Click to edit text"></textarea>
                    </section>
                    <button ng-click="deleteSlide(slideIndex)" class="delete" ng-include="'images/cross.svg'"></button>
                    <button ng-click="addSlide(slideIndex)" class="add">Insert new Slide</button>
                    <label>Transition: </label><select ng-model="slide.transition" ng-options="opt for opt in transitionOptions" ng-change="saveSlide(slideIndex, slide)"></select>
                </li>  
            </ul>
        </main>
    </div>

    <div class="view" ng-switch-when="true" ng-class="slides[activeSlide-1].transition">
        <a href="" ng-click="toggleFullScreen()" class="btn exit">Exit</a>
        <section ng-click="nextSlide()" ng-repeat="(slideIndex,slide) in slides track by $index" ng-show="slide === slides[activeSlide]">
            <h1>{{slide.title}}</h1>
            <p>{{slide.text}}</p>
        </section>
    </div>
</div>
